/*
 *	Joe Kimpel
 *	CS 601
 *	6.7.12
 *
 */

body{
	background-color: lightgray;
}

h1{
	text-align: center;
	text-decoration:underline;
	font-weight:bold;
}

h2{
	text-align: center;
	font-weight: bold;
}

table{
	text-align: center;
}

table, td{
	border: 1px solid black;
}

td{
	text-align: center;
}