/*
	Joe Kimpel
*/
body{
	background-color: lightgray;
}
h1, h3{
	margin-left:auto;
	margin-right:auto;
	width:70%;
	text-align: center;
	padding: 15px;
	border: 1px solid black;
	border-radius:15px;
	background-color: lightblue;
}
h4{
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	text-align: center;
	border: 1px solid black;
	border-radius:5px;
	background-color: lightblue;
	
}
table{
	text-align: left;
}
tr td:first-child{
	font-weight: bold;
}
#navTabs{
	margin: auto;
	width: 80%;
}
div.form{
	padding: 10px 20px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	background-color:lightgreen;
	margin-left:auto;
	margin-right:auto;
	width: 40%;
}
div.result{
	padding: 10px 20px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	background-color:lightgreen;
	margin-left:auto;
	margin-right:auto;
	width: 50%;
}
div.back{	
	padding: 10px 20px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	background-color:teal;
	margin-left:auto;
	margin-right:auto;
	width: 20%;
}
div.footer{
	margin-left:auto;
	margin-right:auto;
	width: 50%;
	padding: 10px 20px;
	text-align: center;
}
div.recent button{
	font-size: 80%;
}
span.label{
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	text-align: center;
	border: 1px solid black;
	border-radius:5px;
	background-color: lightblue;
}
span.highlight{
	color:red;
}
select{
	font-size: 25px !important;
	text-align: center;
	border: 1px solid #CCC;
	font-weight: bold;
	color: #1C94C4;
	-webkit-appearance: none;
}
.ui-accordion .ui-accordion-content{ overflow:hidden !important; }
.ui-accordion-content-active{
	padding-bottom: 45px !important;
}
#submitButton{display:none;}
#editButton{display:none;}
#detect{display:none;}