/*
	Joe Kimpel
*/
body{
	background-color: lightgray;
	font-size: 100%;
}
h1, h3{
	margin-left:auto;
	margin-right:auto;
	width:99%;
	text-align: center;
	padding: 5px;
	font-family: Arial, sans-serif;
	border: 1px solid #C8C8C8;
	border-radius:5px;
	background-color: lightblue;
}
h4{
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 0;
	margin-left:auto;
	margin-right:auto;
	width:99%;
	text-align: center;
	font-family: Arial, sans-serif;
	border: 1px solid #C8C8C8;
	border-radius:3px;
	background-color: lightblue;
	
}
table{
	text-align: left;
}
tr td:first-child{
	font-weight: bold;
}
tr.nonBold td:first-child{
	font-weight: normal;
}
div.form{
	padding: 5px 5px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	background-color:#B8B8B8;
	margin-left:auto;
	margin-right:auto;
	width: 99%;
}
div.result{
	padding: 10px 5px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	background-color:#B8B8B8;
	margin-left:auto;
	margin-right:auto;
	width: 99%;
}
div.back{	
	padding: 5px 5px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	background-color:teal;
	margin-left:auto;
	margin-right:auto;
	width: 99%;
}
div.footer{
	margin-left:auto;
	margin-right:auto;
	width: 99%;
	padding: 5px 5px;
	text-align: center;
}
div.recent button{
	font-size: 80%;
}
select{
	font-size: 120% !important;
	text-align: center;
	border: 1px solid #CCC;
	font-weight: bold;
	color: #1C94C4;
	-webkit-appearance: none;
	
}
span.highlight{
	color:red;
}
span.label{
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 0;
	margin-left:auto;
	margin-right:auto;
	width:99%;
	text-align: center;
	border: 1px solid #C8C8C8;
	border-radius:5px;
	background-color: lightblue;
}
.ui-accordion .ui-accordion-content{ overflow:hidden !important; }
.ui-accordion-content-active{
	padding-bottom: 30px !important;
}
#authDialog{display:none;}
#submitButton{display:none;}
#editButton{display:none;}
#detect{display:block;}